body{
    background-image: url(bck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
    text-align: center
}

h1{
    font-family: "Anton";
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 200px;
    text-shadow: 2px 2px 5px crimson;
}

h1:hover{
    text-shadow: 2px 2px 5px lightgreen;
}

audio{
    border-radius: 30px;
    background-color: lightgreen;
}

audio:hover{
    box-shadow: 2px 2px 5px white;
}

div{
    font-size: 25px;
    color: white;
    font-family: cursive;
    border-style: outset;
    border-width: 4px;
    border-color: red;
    border-radius: 5px;
    padding: 2px;
    background-color: red;
}

div:hover{
    background-color: blue;
    border-color: blue;
}
    
